/* CalendarComponent.css */

/* Style for the calendar container */
:root {
    --side-panel-background-color: #ddb892;
}

.homepage-container {
    max-width: 70%;
    /* Increase the maximum width of the calendar */
    margin: 0 auto;
    width: 100%;
}

.calendar-container {
    max-width: 60%;
    /* Increase the maximum width of the calendar */
    margin: 0 auto;
    /* Center the calendar horizontally */
    width: 100%;
    max-height: 100vh;
    overflow-y: hidden;
}

.event-box {
    min-height: 100px;
    /* Set the minimum height of the event box */
    width: 100px;
    /* Set the width of the event box */
    font-size: 14px;
    /* Adjust font size for events */
    padding: 8px;
    /* Add padding to event box */
    display: flex;
    /* Use flexbox for centering content */
    justify-content: center;
    /* Center content horizontally */
    align-items: center;
    /* Center content vertically */
    flex-direction: column;
    /* Display items vertically */
}

.event-box .event-found {
    font-size: medium;
    /* Smaller font size for events with class 'event-found' */
    color: black;
    /* Set the color of events with class 'event-found' to black */
    margin-bottom: 5px;
    /* Reduce the bottom margin between events */
    border-bottom: 1px solid black;
}


/* Style for the calendar tiles (days) */
.react-calendar__tile {
    height: 100px;
    /* Set the fixed height of each calendar tile */
    width: 100px;
    /* Set the fixed width of each calendar tile */
    font-size: 18px;
    /* Increase the font size of the dates */
    background-color: #f0f0f0;
    /* Set a light background color for the calendar tiles */
    color: #333;
    /* Set text color for the dates */
    border: 1px solid #ccc;
    /* Add a border to each calendar tile */
    cursor: pointer;
    /* Change cursor to pointer on hover */
    display: flex;
    /* Use flexbox for centering content */
    justify-content: center;
    /* Center content horizontally */
    align-items: center;
    /* Center content vertically */
}

/* Hover effect for calendar tiles */
.react-calendar__tile:hover {
    background-color: #e6e6e6;
    /* Lighten the background color on hover */
}

/* Style for the selected date */
.react-calendar__tile--active {
    background-color: grey;
    /* Set a different background color for the selected date */
    color: #fff;
    /* Set text color for the selected date */
}

/* Style for the event marker */
.event-marker {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-radius: 4px;
    background-color: var(--side-panel-background-color);
    /* Set the background color for event markers */
    color: #fff;
    /* Set text color for event markers */
    margin-bottom: 8px;
    /* Add margin between event markers */
}

.react-calendar__navigation {
    background-color: var(--side-panel-background-color);
    /* Set background color for the month box and navigation buttons */
    color: #fff;
    /* Set text color for the month box and navigation buttons */
    border-radius: 5px;
    /* Add border radius for rounded corners */
    display: flex;
    /* Use flexbox for alignment */
    justify-content: space-between;
    /* Space evenly between elements */
    align-items: center;
    /* Center items vertically */
}

/* Style for the month label */
.react-calendar__navigation__label {
    font-size: 20px;
    background-color: var(--side-panel-background-color);

    /* Increase font size for the month label */
}

/* Style for the navigation buttons */
.react-calendar__navigation button {
    background-color: transparent;
    /* Set background color for navigation buttons */
    color: #fff;
    /* Set text color for navigation buttons */
    border: none;
    /* Remove border from navigation buttons */
    cursor: pointer;
    /* Change cursor to pointer on hover */
    font-size: 20px;
    /* Set font size for navigation buttons */
    padding: 8px 12px;
    /* Add padding to the navigation buttons (adjust as needed) */
}

/* Hover effect for navigation buttons */
.react-calendar__navigation button:hover {
    color: #f0f0f0;
    background-color: var(--side-panel-background-color);
    /* Change text color on hover */
}

/* Style for the delete button */
.event-marker button {
    background-color: #ff5f5f;
    /* Set the background color of the delete button to red */
    color: #fff;
    /* Set text color of the delete button to white */
    border: none;
    border-radius: 4px;
    padding: 4px 8px;
    cursor: pointer;
}

/* Hover effect for the delete button */
.event-marker button:hover {
    background-color: #ff0000;
    /* Darken the background color on hover */
}

.event-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.event-popup-content {
    max-width: 400px;
    word-wrap: break-word;
    /* Add word-wrap property */
}


.event-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.event-title {
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
    word-wrap: break-word;
    max-width: 200px;
    /* Adjust the max-width value as needed */
}



.delete-button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

.close-button {
    background-color: red;
    /* Keep the close button red as requested */
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.close-button:hover,
.delete-button:hover {
    background-color: darkred;
}



/* Style for the add event section */
.add-event-section {
    margin-bottom: 20px;
    /* Add margin at the bottom of the add event section */
}

/* Style for the event title input */
.add-event-section input[type="text"] {
    width: 200px;
    /* Set the width of the input field */
    padding: 8px;
    /* Add padding to the input field */
    margin-right: 10px;
    /* Add margin to separate input field and button */
    border: 1px solid #ccc;
    /* Add border to the input field */
    border-radius: 4px;
    /* Add border radius for rounded corners */
}

/* Style for the add event button */
.add-event-section button {
    padding: 8px 16px;
    /* Add padding to the button */
    background-color: var(--side-panel-background-color);
    color: #fff;
    /* Set text color for the button */
    border: none;
    /* Remove border from the button */
    border-radius: 4px;
    /* Add border radius for rounded corners */
    cursor: pointer;
    /* Change cursor to pointer on hover */
}

/* Hover effect for the add event button */
.add-event-section button:hover {
    /* background-color: #5cbf79; */
    background-color: var(--side-panel-background-color);
    /* Darken the background color on hover */
}

.event-found {
    font-size: medium;
    color: black;
    margin-bottom: 5px;
    border-bottom: 1px solid black;
    word-wrap: break-word;
    /* Add word-wrap property */
}