.side-panel {
    display: flex;
    flex-direction: column;   /* Arrange items in a column */
}

.messages-tab {
    margin-top: max;         /* Push the tab to the bottom */
}

/* CSS */
/* .contact-list {
    /* Add styles for the contact list container */
/* } */

.contact-item {
    /* Add styles for each contact item container */
    margin-bottom: 10px;
}

.contact-button {
    /* Add styles for the contact buttons */
    padding: 5px 2px;
    background-color: #9b5ab5; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
}

.contact-button:hover {
    background-color: #5f45a0; /* Darker green on hover */
}

.modal {
    position: absolute;
    top:5px;
    bottom: 85px;
    right: 15px;
    left: 295px;
    height: 90%;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    z-index: 2;
}

.modal-content {
    background-color: #060606;
    padding: 3px;
    border-radius: 20px;
    box-sizing: border-box; /* Include padding and border in the element's total dimensions */
    overflow: hidden; /* Hide overflow to allow scrolling within message-panel-container */
    height: 90%; /* Take the full height of the modal */
    display: flex;
}

.message-panel-container {
    width: 100%; /* Use the full width available */
    height: 100%; /* Use the full height available */
    max-height: 66vh; /* Limit the height of the message panel */
    overflow-y: auto; /* Allow vertical scrolling */
    box-sizing: border-box; /* Include padding and border in the element's total dimensions */
}