.side-panel {
    display: flex;
    flex-direction: column;   /* Arrange items in a column */
}

.messages-tab {
    margin-top: max;         /* Push the tab to the bottom */
}

/* CSS */
/* .contact-list {
    /* Add styles for the contact list container */
/* } */

.contact-item {
    /* Add styles for each contact item container */
    margin-bottom: 10px;
}

.contact-button {
    /* Add styles for the contact buttons */
    padding: 5px 5px;
    background-color: #5ab55d; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
}

.contact-button:hover {
    background-color: #5f45a0; /* Darker green on hover */
}
