@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --navbar-theme-color: #68d391;
}

.navbar {
  display: flex;
  background-color: var(--navbar-theme-color);
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.search-container {
  flex: 1;
  text-align: center;
}

.search-input {
  border: 1px solid #fff;
  padding: 0.5rem;
  border-radius: 0.25rem;
  width: 100%;
  outline: none;
}

.profile-button {
  width: 40px;    
  height: 40px;     
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 30;
  position: relative; 
}


.profile-dropdown {
  display: none; 
  position: absolute;
  top: 100%; 
  right: 0;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  border-radius: 8px;
  overflow: hidden;
  z-index: 20; 
}

.profile-dropdown.show {
  display: block;
}

.profile-dropdown-item {
  color: black;
  padding: 10px;
  text-align: left;
  text-decoration: none;
  display: block;
}

.profile-dropdown-item:hover {
  background-color: #f2f2f2;
}