.settings-container {
    position: absolute;
    left: 250px; 
    top: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto; 
}

.settings-content {
    color:rgb(0, 0, 0);
    width: 100%;
    padding: 20px; 
}

.settings-form {
    background-color: inherit; 
    padding: 20px;
    border-radius: 8px;
}

.settings-form label,
.settings-form input {
    display: block; 
    width: 100%;
    margin-bottom: 15px; 
}

.heading {
    border-radius: 5px;
    margin-bottom: 20px; 
    display: block;
}

.update-button {
    background-color: #FFF;
    color: #000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block; 
    width: 15%; 
    margin: 20px auto 5px; 
    transition: box-shadow 0.3s ease;
}

.update-button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.settings-form input::placeholder {
    text-align: center;
}

