@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

:root {
  --side-panel-background-color: #68d391;
}

.side-panel {
  animation: slideInFromLeft 0.3s ease-out;
  position: fixed;
  left: 10px;
  top: 100px;
  bottom: 60px;
  width: 10px; 
  background-color: var(--side-panel-background-color);
  padding: 16px 0 16px 16px; 
  color: #fff;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  transition: width 0.3s ease; 
  overflow-x: hidden;
  overflow-y: auto;
}

.side-panel.expanded {
  width: 210px;
}

.toggle-panel-button {
  position: fixed;
  left: 220px; 
  top: 100px;
  bottom:60px;
  z-index: 101; 
  cursor: pointer;
  transition: left 0.3s ease;
  background-color: white;
}

.toggle-panel-button:hover {
  background-color: #f2f2f200;
}

.toggle-panel-button img {
  width: 30px; 
  height: 30px; 
  transition: transform 0.3s ease;
}

.side-panel.expanded .toggle-panel-button img {
  transform: rotate(180deg); 
}

.side-panel>div {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  cursor: pointer;
  transition: opacity 0.5s ease; 
}

.side-panel.collapsed > div {
  opacity: 0; 
  pointer-events: none; 
}

.side-panel.expanded > div {
  opacity: 1; 
}

.side-panel>div:hover {
  color: #000000;
  font-size: 20px;
}

.side-panel>div img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.side-panel>div span {
  margin-left: 8px;
}

.settings-section img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.settings-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

.messages-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    color: inherit;
  }

.members-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    color: inherit;
  }
  
.team-section {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 16px;
  background-color: var(--side-panel-background-color);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-section img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.team-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  color: white;
}

.home-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
  top: -50px;
  right: 0%;
  z-index: 10;
}

.theme-options {
  display: flex;
  flex-direction: column;
  font-size: 15px; 
  border: 1px solid #ccc;
  border-radius: 15px; 
  padding: 5px; 
}

.theme-option {
  color: black;
  cursor: pointer;
  padding: 5px;
}

.theme-option:hover {
  background-color: white;
}

.no-hover .side-panel>div:not(.team-section):hover {
  color: rgb(0, 0, 0);
  border-radius: 8px;
  background-color: rgb(185, 185, 185);
  width: calc(100% - 20px);
}

.no-hover .side-panel .team-section .team-link:hover {
  background-color: transparent !important;
  color: white !important; 
}

.side-panel.inverted-images img:not([alt="Toggle"]) {
  filter: invert(100%);
}
