@keyframes slideInFromLeft {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
  
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .side-panel {
    animation: slideInFromLeft 0.5s ease-out;
    position: fixed;
    left: 20px;
    top: 100px;
    bottom: 60px;
    width: 200px;
    background-color: #68d391;
    padding: 16px;
    color: #fff;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    border-top-right-radius: 20px; /* Rounded top right corner */
    border-bottom-right-radius: 20px; /* Rounded bottom right corner */
    border-bottom-left-radius: 20px; /* Rounded bottom left corner */
    border-top-left-radius: 20px; /* Rounded top left corner */
  }
  
  .side-panel.visible {
    display: block;
  }
  
  .side-panel>div {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    cursor: pointer;
  }
  
  .side-panel>div:hover {
    color: #006125;
    font-size: 20px;
  }
  
  .side-panel>div img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }
  
  .side-panel>div span {
    margin-left: 8px;
  }
  
  .team-section {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 16px;
    background-color: #68d391;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .team-section img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }
  
  .team-link {
    display: flex; /* Add Flexbox display */
    align-items: center; /* Align items vertically */
    text-decoration: none; /* Remove default underline */
    cursor: pointer;
    color: inherit;
  }
  
  .team-link:hover {
    color: #006125; /* Change to your desired hover color */
  }
  
  .home-link {
    display: flex; /* Add Flexbox display */
    align-items: center; /* Align items vertically */
    text-decoration: none; /* Remove default underline */
    cursor: pointer;
    color: inherit;
  }