@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  font-family: 'Kanit', sans-serif;
}

.welcome-white::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.welcome-white {
  background-image: url("../images/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.container {
  text-align: left;
  background-color: rgba(33, 12, 98, 0.93);
  padding: 100px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  position: absolute;
  z-index: 100;
  height: 100vh;
  width: 40%;
  padding-top: 180px;
}

.head2 {
  color: #ffffff;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(211, 130, 130, 0.3);
  margin: 0 0 20px 0;
}

.btn-login,
.btn-signup {
  background-color: #2073b4;
  color: #fff;
  font-size: 25px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 450px;
  margin-top: 10px;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
}

.btn-login:hover {
  background-color: #61a9e8;
}

.btn-signup:hover {
  background-color: #286492;
}

p {
  color: #ffffff;
  font-size: 25px;
  margin-bottom: 20px;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
  .container {
    width: 80%;
    padding: 50px;
  }

  .btn-login,
  .btn-signup {
    width: 100%;
  }
}